In [45]:
import pandas as pd

#leer archivo excel
df = pd.read_excel(r'C:\Users\ander\Escritorio\PYTHON\Python 2025\Automatizacion_python\mi_env\datos_excel\datos_ventas_enero.xlsx')

# Mostrar las primeras filas del DataFrame
print(df.head())

     ID       Fecha Producto    Categoria  Region      Vendedor  Cantidad  \
0  1001  2025-01-27   Tablet   Accesorios  Centro  Ana Martínez         7
1  1002  2025-01-01   Laptop  Electrónica  Centro    Juan Pérez         4
2  1003  2025-01-15   Tablet  Informática    Este    Juan Pérez         8
3  1004  2025-01-17    Mouse  Electrónica  Centro    Juan Pérez         5
4  1005  2025-01-31  Teclado   Accesorios   Norte    Juan Pérez         7

   Precio
0  263.64
1  265.06
2  373.82
3  572.28
4  488.75

In [47]:
  # Escribir el DataFrame a un archivo excel
  
df['Total_2'] = df['Precio'] * df['Cantidad']

# Guardar el DataFrame en un archivo excel
df.to_excel(r'C:\Users\ander\Escritorio\PYTHON\Python 2025\Automatizacion_python\mi_env\datos_excel\ventas_enero_actualizado.xlsx', index=False)

# Mostrar el DataFrame actualizado
print(df.head())

     ID       Fecha Producto    Categoria  Region      Vendedor  Cantidad  \
0  1001  2025-01-27   Tablet   Accesorios  Centro  Ana Martínez         7
1  1002  2025-01-01   Laptop  Electrónica  Centro    Juan Pérez         4
2  1003  2025-01-15   Tablet  Informática    Este    Juan Pérez         8
3  1004  2025-01-17    Mouse  Electrónica  Centro    Juan Pérez         5
4  1005  2025-01-31  Teclado   Accesorios   Norte    Juan Pérez         7

   Precio    Total  Total_2
0  263.64  1845.48  1845.48
1  265.06  1060.24  1060.24
2  373.82  2990.56  2990.56
3  572.28  2861.40  2861.40
4  488.75  3421.25  3421.25

In [48]:
#eliminar una columna
df.drop(columns=['Total_2'], inplace=True) # inplace=True modifica el DataFrame original 
# Guardar el DataFrame en un archivo excel
df.to_excel(r'C:\Users\ander\Escritorio\PYTHON\Python 2025\Automatizacion_python\mi_env\datos_excel\ventas_enero_actualizado.xlsx', index=False)
# Mostrar el DataFrame actualizado 
print(df.head())

     ID       Fecha Producto    Categoria  Region      Vendedor  Cantidad  \
0  1001  2025-01-27   Tablet   Accesorios  Centro  Ana Martínez         7
1  1002  2025-01-01   Laptop  Electrónica  Centro    Juan Pérez         4
2  1003  2025-01-15   Tablet  Informática    Este    Juan Pérez         8
3  1004  2025-01-17    Mouse  Electrónica  Centro    Juan Pérez         5
4  1005  2025-01-31  Teclado   Accesorios   Norte    Juan Pérez         7

   Precio    Total
0  263.64  1845.48
1  265.06  1060.24
2  373.82  2990.56
3  572.28  2861.40
4  488.75  3421.25

In [49]:
# leer una hoja específica de un archivo excel
df_datos = pd.read_excel(
    r'C:\Users\ander\Escritorio\PYTHON\Python 2025\Automatizacion_python\mi_env\restaurante.xlsx', 
    sheet_name='Datos'
)  

print(df_datos.head())

   Orden      Fecha Hora de Cobro  Mesa  Atendió    Tipo        Producto  \
0      1 2014-02-01      18:43:12     1  Rodolfo  Bebida          Tecate
1      1 2014-02-01      18:43:12     1  Rodolfo  Bebida          Tisana
2      1 2014-02-01      18:43:12     1  Rodolfo  Bebida  Café americano
3      1 2014-02-01      18:43:12     1  Rodolfo  Bebida       Te helado
4      1 2014-02-01      18:43:12     1  Rodolfo  Comida  Pera Rostizada

           Categoria  Precio  Costo  Propina Tipo de Cliente
0           Cervezas      25  18.00     0.07   Cliente Nuevo
1  Bebida no Alcohol      25  18.00     0.07   Cliente Nuevo
2  Bebida no Alcohol      18  12.60     0.07   Cliente Nuevo
3  Bebida no Alcohol      25  18.50     0.07   Cliente Nuevo
4          Ensaladas      89  75.65     0.07   Cliente Nuevo

In [50]:
# Leer todas las hojas de un archivo excel  
df_all_sheet = pd.read_excel(
    r'C:\Users\ander\Escritorio\PYTHON\Python 2025\Automatizacion_python\mi_env\restaurante.xlsx', 
    sheet_name=None
)
# Mostrar los nombres de las hojas
print(df_all_sheet.keys())
# Mostrar el contenido de la hoja 'Datos'   
print(df_all_sheet['Menu Comida'].head())
print(df_all_sheet['Menu Bebida'].head())

dict_keys(['Ventas Bebidas', 'Datos', 'Menu Comida', 'Menu Bebida', 'Datos del Restaurant', 'Amañado'])
               Producto      Tipo  Precio      Costo  Unnamed: 4     Tipo.1
0  Brochetas Hawaiianas  Entradas      74  64.347826         NaN   Entradas
1       Camarones Momia  Entradas      75  65.217391         NaN      Tacos
2  Espárragos Envueltos  Entradas      78  67.826087         NaN     Pizzas
3  Mejillones Horneados  Entradas      75  65.217391         NaN  Ensaladas
4      Panela a la Leña  Entradas      53  46.086957         NaN     Pastas
    Producto               Tipo  Precio  Costo  Unnamed: 4             Tipo.1
0   Refresco  Bebida no Alcohol      20  16.00         NaN  Bebida no Alcohol
1   Limonada  Bebida no Alcohol      25  20.00         NaN           Cervezas
2  Naranjada  Bebida no Alcohol      25  18.25         NaN              Vinos
3     Tisana  Bebida no Alcohol      25  18.00         NaN                NaN
4  Te helado  Bebida no Alcohol      25  18.50         NaN                NaN

In [51]:
# Escribir a multiples hojas en un archivo excel
with pd.ExcelWriter(r'C:\Users\ander\Escritorio\PYTHON\Python 2025\Automatizacion_python\mi_env\restaurante_informe_completo.xlsx') as writer:
    df_datos.to_excel(writer, sheet_name='Datos', index=False)
    df_all_sheet['Menu Comida'].to_excel(writer, sheet_name='Menu Comida', index=False) #index=False para no incluir el índice
    df_all_sheet['Menu Bebida'].to_excel(writer, sheet_name='Menu Bebida', index=False) 
    print("Archivo Excel creado con éxito con múltiples hojas.")

Archivo Excel creado con éxito con múltiples hojas.